
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    background-color: #e9e9e1;
    width: 100vw;
    height: 1400px; /* Alterar para AUTO (FUTURAMENTE) */
}

/* FOOTER */
footer {
    width: 100vw;
    height: 250px;
    background: #464646;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    grid-area: footer;
    position: absolute;
    bottom: 0;
    left: 0;
}

footer .text-contact  {
    width: 1140px;
    height: 100px;
}
footer .text-contact p {
    font-size: 20px;
    color: lightgrey;
    text-align: center;
    line-height: 35px;
}
footer .text-contact p a {
    text-decoration: none;
    color: inherit;
}
footer .text-contact p a:active {
    color: inherit;
}

footer .img-contact {
    width: 1140px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .img-contact img {
    width: 50px;
    height: 50px;
    margin: -50px 8px 0px 8px;
    filter: invert(0.89);
    cursor: pointer;
}





/* Animações */

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes invert-rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}
@keyframes ponto {
    0% {
        width: 20px;
        height: 20px;
    }
    33% {
        width: 30px;
        height: 15px;
    }
    66% {
        width: 15px;
        height: 30px;
    }
    100% {
        width: 20px;
        height: 20px;
    }
}

/* Propriedades do header */
header {
    width: 100vw;
    height: 100px;
    background: lightblue;
    box-shadow: 0px 0px 5px black;
    display: flex;
    justify-content: space-between;
    position: fixed;
    grid-area: header;
}

header .logo {
    width: 150px;
    height: inherit;
    margin: 0px 0px 0px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .logo::after,
header .logo::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    background: unset;
    border: 5px solid black;
    animation: rotate 5s linear infinite;
}
header .logo::before {
    transform: rotate(45deg);
    animation: invert-rotate 5s linear infinite;
}
header .logo .ponto {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: black;
    animation: ponto 1.3s linear infinite;
}



header nav {
    width: inherit;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0px 30px 0px 0px;
}

header nav ul {
    display: flex;
    justify-content: end;
}
header nav ul li {
    list-style: none;
    color: black;
    font-size: 25px;
    margin: 0px 7px 0px 7px;
}
header nav ul li a{
    text-decoration: none;        
    color: black
}
header nav ul li a:active {
    color: black
}
header nav ul li a:hover {
    text-decoration:underline;
}
/* Dar um espaço do section para o header (FORMATAÇÂO) */
.line-space {
    width: 100vw;
    height: 100px;
    background: transparent;
    margin-bottom: 20px;
}

/* Alterando as configurações do section */
section {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    grid-area: section;
}
.container {
    max-width: 1140px;
    height: auto;
    background: whitesmoke;
    margin: 0px 60px 0px 40px;
}
p {
    color: black;
}



/* POSIÇÃO DAS COISAS NO SITE */
